<!DOCTYPE HTML>
<html>
<head>
    <title>Final Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <a href="/">
        <div class="layout-header">
            <div class="style-header"><a href="/" style="text-decoration:none;">Final Community</a></div>
        </div>
    </a>