<nav aria-label="Page navigation example" style="text-align:center; width:100%">
    <ul class="pagination">

        <li class="page-item">
            <a class="page-link" href="?page={{previous}}"><span class="glyphicon glyphicon-menu-left"></span></a>
        </li>

        <li class="page-item">
            <a>{{pageNum}}</a>
        </li>

        {{#checkNext}}
            <li class="page-item">
                <a class="page-link" href="?page={{next}}"><span class="glyphicon glyphicon-menu-right"></span> </a>
            </li>
        {{/checkNext}}
        {{^checkNext}}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{next}}"><span class="glyphicon glyphicon-menu-right"></span> </a>
            </li>
        {{/checkNext}}
    </ul>
</nav>