<form action="/posts/search" method="GET" style="float:left; width:33%; margin: 5px auto;">
    <div class="btn-group" role="group" aria-label="Basic example">
        <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        <button class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</form>