<thead class="thead-strong">
    <tr>
        <th style="width: 5%">No.</th>
        <th style="width: 33%">제목</th>
        <th style="width: 22%">작성자</th>
        <th style="width: 25%">게시날짜</th>
        <th style="width: 10%">조회수</th>
        <th style="width: 5%"></th>
    </tr>
</thead>
