<tbody id="tbody">
        <tr>
            <th>{{id}}</th>
            <td><a href="/posts/view/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
            <td>{{views}}</td>
            <td><a href="/posts/update/{{id}}"><span class="glyphicon glyphicon-cog"></span></a>
        </tr>
</tbody>