{{>layout/header}}
<div class="layout-main">
    <div>
        <a href="/logout" style="float:right; border-radius: 100%;" class="btn btn-info Light" role="button">로그아웃</a>
        {{>layout/searchForm}}
    </div><br><br><br>

    <table class="table table-horizontal table-bordered">
        {{>layout/tableForm}}
        <tbody id="tbody">
        {{#searchList}}
            {{#posts}}
                <tr>
                    <th>{{id}}</th>
                    <td><a href="/posts/view/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                    <td></td>
                    <td><a href="/posts/update/{{id}}"><span class="glyphicon glyphicon-cog"></span></a>
                </tr>
            {{/posts}}
        {{/searchList}}
        </tbody>
    </table>
    <a href="/posts/save" role="button" style="font-size: 20px; margin:15px auto; float:right;" class="btn btn-light"><span class="glyphicon glyphicon-pencil"></span></a>
    {{>layout/pagination}}
</div>
{{>layout/footer}}