{{>layout/header}}

<div class="layout-main">
    <form>
        <div class="form-group">
            <span><h3>{{posts.title}}</h3></span>
        </div><hr><br>
        <div class="form-group" style="margin: 0 15px auto">
            <span><p>{{posts.content}}</p></span>
        </div><hr><br>
    </form>
    <form><br><br>
        <div class="form-group">
            <span><label>댓글</label> <div class="nav-right"><span class="glyphicon glyphicon-user"> {{userEmail}} </span></div></span><br>
            <textarea style="border-color: gray; border-radius: 10px; width: 100%; height: 70px; resize: none;" id="content" placeholder="댓글을 입력하세요."></textarea><br>
            <button type="button" class="btn btn-light" id="btn-writeComments">등록</button>
        </div>
    </form>
    <div class="nav-right">
        <a href="/" role="button" class="btn btn-secondary">목록</a>
    </div>
</div>

{{>layout/footer}}